h1
{
    color: rebeccapurple;
}
/* class selector */
.red-text{
    color: red;
}
/* id selectors */
#main
{
    color: aqua;
}
/* attribute selectors */
p[draggable]
{
    color: brown;
}